.login-container {
  display: flex;
  min-height: 100vh;
}

.section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
}

.left {
  background-color: #ffffff;
}

.right {
  background-color: #fafafa;
}

@media screen and (max-width: 64rem) {
  .left{
    display: none;
  }
}

.stat-container {
  background: white;
  box-shadow: 0 0 1.5rem rgba(8.19, 23.17, 53.12, 0.16);
  border-radius: 1.5rem;
  position: relative;
}

.stat-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 0.0625rem solid #e6e8f0;
  padding: 1.5rem;
}

.stat-logo {
  width: 1.75rem;
  height: 1.9375rem;
  color: #081735;
}

.stat-title {
  color: #081735;
  font-size: 1.125rem;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.6875rem;
  margin-block: 0;
}

.stats-summary-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem;
  gap: 1.25rem;
}

.left-section-logo {
  color: #818181;
  position: fixed;
  left: 0;
  bottom: 0;
  max-width: 18.75rem;
}

.auth-container {
  text-align: center;
  border-radius: 0.75rem;
  background-color: #ffffff;
  width: 100%;
  max-width: 40.625rem;
}

.logo-container {
  padding: 2.25rem 1.5rem;
  border-bottom: 0.0625rem solid #d5d7da;
}

@media screen and (max-width: 40rem) {
  .logo-container {
    padding: 1.5rem 1rem;
  }
}

.logo-company-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.875rem;
  font-family: Satoshi;
  font-size: 1.875rem;
  font-weight: 300;
  line-height: 2.063rem;
  text-align: center;
  margin-bottom: 2.25rem;
}

.welcome-message {
  font-family: Inter;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  text-align: center;
  color: #181d27;
  margin-bottom: 1.25rem;
}

@media screen and (max-width: 40rem) {
  .welcome-message {
    font-size: 1.5rem;
  }
}

.right-section-logo {
  width: 2.25rem;
  height: 2.5rem;
  color: #181d27;
}

.auth-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
}

@media screen and (max-width: 40rem) {
  .auth-buttons-container {
    padding: 1.5rem 2rem;
  }
}

.privacy-policy {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: center;
  color: #181d27;
}

.privacy-policy a {
  font-weight: 700;
  text-decoration: none;
  color: black;
}
