.stats-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stat-number {
  color: #081735;
  font-size: 1.125rem;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.6875rem;
}

.stat-description {
  color: #171717;
  font-size: 0.875rem;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.25rem;
}
