.navbar {
  width: 15.125rem;
  background-color: #ffffff;
  border-right: 0.0625rem solid #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1.5rem;
  height: auto;
}

@media screen and (max-width: 40rem) {
  .navbar {
    width: auto;
    border-right: 0;
  }

  .nav-items-wrapper {
    position: absolute;
    top: 5rem;
    left: 0;
    bottom: 0;
    opacity: 0.5;
    background-color: gray;
    box-sizing: border-box;
    width: 100%;
  }

  .nav-items {
    position: absolute;
    top: 5rem;
    left: 0;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 0 1rem 1rem 1rem;
    box-sizing: border-box;
    width: 100%;
  }
}

.nav-items {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-toggle {
  background: none;
  border: none;
}

.menu-icon,
.close-icon {
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (min-width: 40rem) {
  .menu-toggle {
    display: none;
  }
}

.navbar-logo-container {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 2rem;
  height: 2rem;
  margin-right: 0.75rem;
}

.navbar-logo-text {
  font-size: 1.125rem;
  font-weight: 400;
  color: #111827;
  font-family: Satoshi;
}

.user-dropdown {
  padding: 0.5rem 0.75rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1rem;
  border: 0.0625rem solid #d5d7da;
}

.dropdown-arrow {
  font-size: 1.5rem;
  color: #6b7280;
  margin-top: -7%;
}

.top-nav-items {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.hidden {
  display: none;
}

@media screen and (max-width: 40rem) {
  .top-nav-items {
    flex: none;
  }
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
  color: #414651;
  font-size: 1rem;
  font-family: Inter;
  font-weight: 600;
  line-height: 1.5rem;
}

.nav-item:hover {
  background-color: #f3f4f6;
}

.nav-item.active {
  background-color: #1d4ed8;
  color: white;
}

.nav-item svg {
  width: 1.25rem;
  height: 1.25rem;
}

.bottom-nav-items {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

@media screen and (max-width: 40rem) {
  .bottom-nav-items {
    margin-top: 0;
  }
}
